/* Esercizio 1 */
.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 1s;
}
.ex-1-square:hover {
    background-color: red;
}

/* Esercizio 2 */
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 4s;
}
.ex-2-square:active {
    width: 100%;
}

/* Esercizio 3 */
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 1s;
}
.ex-3-square:hover {
    border-radius: 50%;
}

/* Esercizio 4 */
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: opacity 3s;
}

.ex-4-square:hover{
     opacity: 0;
}

/* Esercizio 5 */
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: transform 0.8s;
}
.ex-5-square:hover {
    transform: scale(calc(5 / 3));
}
.ex-5-square:active {
    transform: scale(0.5);
}

/* Esercizio 6--7--8 */
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-7-img {
    transition: filter 1.5s;
}

/* Esercizio 6 */
.ex-6-img:hover {
    filter: grayscale(1);
}

/* Esercizio 7 */
.ex-7-img {
    transition: filter 1.5s;
}

.ex-7-img:hover{
    filter: brightness(140%) sepia(10%);
}

/* Esercizio 8 */
.ex-8-img {
    transition: filter 1s, border-radius 1s;
}
.ex-8-img:hover{
    filter: saturate(20) hue-rotate(90deg);
    border-radius: 40px;
}

/* Esercizio 9 */
.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: filter 1s, border-radius 1s, transform 1s;
}

.ex-9-img:hover {
    filter: grayscale(100%) invert(70%);
    transform: scale(1.25);
    border-radius: 40px;
}

/* Esercizio 10 */
.ex-10-icon {
    font-size: 60px;
    animation: loading 2s infinite linear;
}


@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Esercizio 11 */
.ex-11-icon {
    font-size: 60px;
    animation: clockwise 4s infinite;
}

@keyframes clockwise {
    0%{
        transform: rotate(0deg);
    }
    90%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(0deg);
    }
    
}

/* Esercizio 12--13 */
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/* Esercizio 12 */
.ex-12-button:hover .ex-12-top-white{
    animation: top-white-12 2s infinite;
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: bottom-white-12 2s infinite;
}

@keyframes top-white-12 {
    0%{
        left: 10%;
    }
    50%{
        left: calc(90% - 60px);
    }
    
}

@keyframes bottom-white-12 {
    0%{
        right: 20%;
    }
    50%{
        right: calc(80% - 60px);
    }
    
}

/* Esercizio 13 */
.ex-13-button:hover .ex-13-top-white {
    animation: white-top-13 4s infinite linear;
}

.ex-13-button:hover .ex-13-bottom-white{
    animation: white-bottom-13 4s infinite linear;
}

@keyframes white-top-13 {
    0%{
        left: 10%;
        top: -10px;
    }

    36%{
        left: 143px;
        top: -10px;
    }

    48%{
        left: 143px;
        top: 60px;

    }

    84%{
        left: -10px;
        top: 60px;
    }

    96%{
        left: -10px;
        top: -10px;
    }

    100%{
        left: 10%;
        top: -10px;
    }
    
}

@keyframes white-bottom-13 {
    0%{
        bottom: -10px;
        right: 20%;
    }

    36%{
        bottom: -10px;
        right: 143px;
    }
 
    48%{
        right: 143px;
        bottom: 47px;

    }

    84%{
        right: -10px;
        bottom: 47px;
    }

    94%{
        right: -10px;
        bottom: -10px;
    }

    100%{
        right: 20%;
        bottom: -10px;
    } 
}
